# Prerequisites
.vs/
*.d
build/
Server/.vs/
Server/Server/x64/
Server/x64/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

# python stuff
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.iml
*.xml
